<h1> Here are all your unfinished list items </h1>
<br>
<% if @unfinisheditems.count > 0 %>
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th> Task </th>
			<th> List </th>
			<th> Due Date </th>
			<th> Done? </th>
		</tr>
	</thead>

	<% @unfinisheditems.each do |item|%>
		<%list = @lists.find_by(id: item.to_do_list_id)%>
		
		<%list_name = list.name%>

		<tr>
			<td><%=item.name%></td>
			<td><%=list_name%></td>
			<td><%=item.due%></td>
			<td><%="Nope"%></td>
		</tr>
	<% end %>
</table>
<% else %>
	<h3> Lucky you, you have nothing to do! </h3>
<% end %>
