<h1> Welcome! </h1>
<h2> Here are your lists </h2>
<% @lists.each do |list| %>
	<% url = "lists/#{list.id}"%>
	<p> <a href = "<%=url%>"> <%=list.name%></a></p>
<%end%>

<form method="get" action="new_list">
    <button type="submit">Add a new list</button>
</form>